/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Light background color */
    color: #333; /* Dark text color for contrast */
    margin: 0;
    padding: 0;
}

/* Title Styling */
h1 {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

    table th, table td {
        padding: 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    table th {
        background-color: #f4f4f9;
        color: #4CAF50;
    }

    /* Table Row Styling */
    table tbody tr:hover {
        background-color: #f1f1f1;
    }

button {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
        border-color: #45a049;
    }

/* Modal Styling */
.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.modal-header {
    border-bottom: 2px solid #ddd;
}

.modal-footer button {
    padding: 10px 20px;
    border-radius: 5px;
}

.modal-body p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.select-role {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

/* Ensure no underlines on navbar link focus */
.navbar-nav .nav-item .nav-link:focus {
    outline: none;
    box-shadow: none;
}
